@import "tailwindcss";
body {
font-family: 'Plus Jakarta Sans', sans-serif;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(46%) sepia(12%) saturate(700%) hue-rotate(176deg) brightness(90%) contrast(88%);
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.3);
}


html{
    scrollbar-width: none;
}
input:-webkit-autofill,
input:-internal-autofill-selected,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:autofill {
  appearance: none !important;
  -webkit-appearance: none !important;

  background-color: #0d1016 !important;
  background-image: none !important;
  background-clip: padding-box !important;

  -webkit-box-shadow: 0 0 0 1000px #0d1016 inset !important;
  box-shadow: 0 0 0 1000px #0d1016 inset !important;

  -webkit-text-fill-color: white !important;
  color: white !important;

  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  outline: none !important;
}
